body {
    margin:0;
}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 16%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 18px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000;
    text-decoration: none;
}

.active {
    background-color: #4CAF50 !important;
}

@media screen and (max-width: 600px) {
  .icon-bar a:not(:first-child) {display: none;}
  .icon-bar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .icon-bar.responsive {
      position: relative; }

  .icon-bar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .icon-bar.responsive a {
    float: none;
    display: block;
    padding-left: 5px;
    text-align: left;
    text-decoration: none;
  }
}

/* Hide the link that should open and close the topnav on small screens */
.icon-bar .icon {
    display: none;
    padding: 1px;
}

.container {
    display: inline-block;
    cursor: pointer;
    padding-top: 2px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #EEE;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}